{% extends "base" %}

{% block content %}
  <h1>OIDC4VCI Demo Issuer</h1>

  <p>To get started, point your wallet's scanner to the QRCode below:</p>

  <div>{{ image | safe }}</div>

  <p>Or click the link below from your mobile browser.</p>

  <a alt="Initiate Issuance Request" href="{{ url }}">Initiate Issuance Request!</a>
{% endblock content %}
